.git
.gitignore

build

release/aqualinkd
release/rs485mon
release/aqualinkd-arm64
release/aqualinkd-armhf
release/rs485mon-arm64
release/rs485mon-armhf

*.o
*.log
*.tmp
*.bak
*.backup
*backup-before*

pumps[i].pumpID,
pumps[i].pumpIndex,

docker/Dockerfile.releaseBinaries
